<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>List Bookmark</title>
    <style>
      body, h1, h2, h3, a, ol, li, ul, span, time, p{ margin:0px; padding:0px; } 
      a{ text-decoration:none; color:#FBD09D; }
      div.list_all{ position:relative; height:900px; margin:0 auto; width:960px; background:url("grid.gif") repeat-y; }
      div.list_all .save_bm{ display:block; margin-left:5px; margin-top:20px; }
      div.list_all .save_bm a{ padding:2px 3px;  font-size:1em; }
      div.list_all .save_bm a:hover{ color:#B65133; }
      div.list_bm, div.list_tag{ float:left; margin-top:30px; }
      div.list_bm h2, div.list_tag h2{ color:#705E46; font-size:1.6em; padding-bottom:10px; border-bottom:1px double #ABBFCF;}

      div.list_bm{ margin-left:5px; width:630px; }
      div.list_bm .bm_nav{ list-style:none; margin-top:10px; }
      div.list_bm .bm_nav li{ display:block; padding:10px 0; border-top:1px solid #E3E3E3; border-bottom:1px solid #E3E3E3; }
      div.list_bm .bm_nav li:first-child{ border:0; }
      div.list_bm .bm_nav li .tag{ padding:2px 3px; font-size:.7em; margin-top:10px; background-color:#ABBFCF; color:#FFF; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; -o-border-radius:2px; }
      div.list_bm .bm_nav li .time{ font-size:.7em; color:#666; }
      div.list_bm .bm_nav li a{ display:block; margin-bottom:10px; }
      div.list_bm .bm_nav li .ch{ float:right;}
      div.list_bm .bm_nav li .ch a{ font-size:.7em; padding:3px 4px; color:#ABBFCF; }
      div.list_bm .bm_nav li .ch a:hover{ color:#005A9C; padding:3px 4px; }

      div.list_tag{ margin-left:10px; }
      div.list_tag .nav_tag{ list-style:none; margin-top:20px; }
    </style>
  </head>
  <body>
    <div class="list_all">
      <span class="save_bm"><%= link_to "Save Bookmark", :controller => "bookmark", :action => "new" %></span>
        <div class="list_bm">
          <h2>Current Bookmark</h2> 
          <ol class="bm_nav">
            <% @bookmark.each do |bookmark| %>
              <li>
                <h3>
                  <a href="<%= bookmark.url %>"><%= bookmark.state %></a>
                </h3>
                <span class="tag"><%= bookmark.tag %></span> <time class="time"><%= bookmark.created_at.strftime('%Y-%m-%d') %></time>
                <span class="ch"><%= link_to "Delete", :action => "destroy", :id => bookmark, :confirm => "Are you Sure", :method => :delete %></span>
                <span class="ch"><%= link_to "Edit", :action => "modify", :id => bookmark %></span>
              </li>
            <% end %>
          </ol>
      </div>
      <div class="list_tag">
        <h2>Tag</h2>
        <ul class="nav_tag">
        <% @tag.each do |tab| %>
          <li><a href="<%= tab.tag %>"><%= tab.tag %></a></li>
        <% end %>
        </ul>
      </div>
    </div>
  </body>
</html>
