<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>List Bookmark</title>
    <style>
      body, h1, h2, h3, a, ol, li, ul, span, time, p{ margin:0px; padding:0px; } 
      body{ background-color:#123; }
      div.list_all{ position:relative; margin:0 auto; width:960px; background:url("grid.gif") repeat-y; }

      div.list_bm{ margin-left:5px; float:left; height:900px; width:640px; }
      div.list_bm .bm_nav{ list-style:none; }
      div.list_bm .bm_nav li{ display:block; padding:10px 0; border-top:1px solid #E3E3E3; border-bottom:1px solid #E3E3E3; }
      div.list_bm .bm_nav li:first-child{ border:none; }
      div.list_bm .bm_nav li a{ }

      div.list_tag { float:left; }
    </style>
  </head>
  <body>
    <div class="list_all">
        <%= link_to "Save Bookmark", :controller => "bookmark", :action => "new" %>
        <div class="list_bm">
          <h2>Current Bookmark</h2> 
          <ol class="bm_nav">
            <% @bookmark.each do |bookmark| %>
              <li>
                <h3>
                  <a href="<%= bookmark.url %>"><%= bookmark.state %></a>
                </h3>
                <p> 
                  <span><%= bookmark.tag %></span> <time><%= bookmark.created_at.strftime('%Y-%m-%d') %></time>
                </p>
                <p>
                  <span><%= link_to "Delete", :action => "destroy", :id => bookmark, :confirm => "Are you Sure", :method => :delete %></span>
                  <span><%= link_to "Edit", :action => "modify", :id => bookmark %></span>
                </p>
              </li>
            <% end %>
          </ol>
      </div>
      <div class="list_tag">
        <h2>Tag</h2>
        <ul>
        <% @tag.each do |tab| %>
          <li><a href="<%= tab.tag %>"><%= tab.tag %></a></li>
        <% end %>
        </ul>
      </div>
    </div>
  </body>
</html>
